extends layout

block content
  h1= club.name
  p= 'Lagledare: '+ club.teamleader1
  p= 'Ställföreträdare: '+ club.teamleader2
  p= 'Banrekord: '+ club.trackrecord
  p= 'Övrigt: '+ club.misc
  hr
  if user
    if user.id == club.author
      a.btn.btn-warning(href='/clubs/edit/' + club._id) Edit
      | &nbsp;&nbsp;&nbsp;
      a.btn.btn-danger.delete-club(href='#', data-id = club._id) Delete