extends ../layout

block content
  h1= driver.firstname + ' ' + driver.lastname
  if driver.drivesfor != ''
    p= 'Klubb: '+ driver.drivesfor
  if driver.joined != ''
    p= 'Började: '+ driver.joined
  if driver.vacated != ''
    p= 'Slutade: '+ driver.vacated
  if driver.teamcaptain != ''
    p= 'Lag Kapten: '+ driver.teamcaptain
  if driver.misc != ''
    p= 'Övrigt: '+ driver.misc
  hr
  if user
    if user.id == driver.author
      a.btn.btn-warning(href='/drivers/edit/' + driver._id) Edit
      | &nbsp;&nbsp;&nbsp;
      a.btn.btn-danger.delete-driver(href='#', data-id = driver._id) Delete