extends ../layout

block content
  h1= driver.firstname + ' ' + driver.lastname
  if driver.drivesfor != ''
    p= 'Klubb: '+ driversfor
  if driver.joined != null
    p= 'Började: '+ driver.joined.toLocaleDateString('sv-SE')
  if driver.vacated != null
    p= 'Slutade: '+ driver.vacated.toLocaleDateString('sv-SE')
  if driver.teamcaptain == 'on'
    p= 'Lagkapten: ✔'
  -//else
    -//p= 'Lagkapten: ✘'
  if driver.misc != ''
    p= 'Övrigt: '+ driver.misc
  hr
  if user
    if user.id == driver.author
      a.btn.btn-warning(href='/drivers/edit/' + driver._id) Edit
      | &nbsp;&nbsp;&nbsp;
      a.btn.btn-danger.delete-driver(href='#', data-id = driver._id) Delete